.App {
  text-align: center;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.dark-mode .player-card {
    border: 1px solid #fff;
}


.player-card {
  border: 1px solid #000;
  width: 50%;
  margin: 16px auto;
  padding-bottom: 16px;

}

.player-card  p {
  margin: 0;
}

